h2 {
    font-size: 2em;
    color: white;
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center; 
}

.card {
    width: 20%;
    margin: 10px;
    border-radius: 10px;
}

.card-body {    
    background-color: #24252a;  
    border-radius: 5px;
    /* box-shadow: 8px 6px 15px rgb(87, 87, 87); */
    padding: 10px;    
}

.card-image {
    width: 100%;
    
    
}

.card-title {    
    font-size: 30px;
    margin: 0px;
    padding: 5px 5px 10px 5px;    
    color: #ffffff;
}


.card-subtitle {    
    text-align: center;
    margin: 0px;
    padding: 5px 5px 10px 5px;    
    color: #ffffff;
}

.card-button {
    text-align: center;
}

.card-button button {
    background-color: rgb(87, 87, 87);
    color: white;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;

}