.project-title {
    margin: 0px 50px 0px 0px;
    text-align: center;
    font-size: 50px;
    font-weight: 400;   
}

.project-container {
    background-color: rgba(0, 0, 0, 0.281);
    padding: 15px; 
}

.project-cards {    
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center; 
}

.card {
    width: 20%;
    margin: 10px;
    border-radius: 10px;
}

.card-body {    
    background-color: #24252a;  
    border-radius: 5px;
    box-shadow: 8px 6px 15px rgba(0, 0, 0, 0.767);  
    padding: 10px;    
}

.card-image {
    width: 100%;   
}

.card-title {    
    font-size: 30px;
    font-weight: 500;
    margin: 0px;
    padding: 5px 5px 10px 5px;   
}

.card-title span {    
    font-size: 20px;
    font-weight: 400;
    margin: 0px;  
}


.card-subtitle {   
    font-size: 15px;
    font-weight: 300;
    margin: 0px;
    padding: 12px; 
}

.card-button {
    text-align: center;
}

.card-button a {
    transition: all 0.3s ease 0s;
    background-color: #24252a;   
    font-weight: 500; 
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;

}

.card-button a:hover {
    color: rgb(10, 97, 112); 
}