.profile-pic {
    width: 20%;
}

.profile-pic img {
    margin: 0px;
    padding: 0px;
    width: 50%;
    border-radius: 50%;
    /* float: left; */
}

.about-title {
    margin: 0px;
    text-align: center;
    font-size: 2em;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.281); */
}

.about-container {
    /* background-color: rgba(0, 0, 0, 0.281); */
    display: flex;
    /* flex-wrap: wrap; */
    padding: 25px;
    /* justify-content:space-evenly; */
}

.about-info p{
    color: white;
    float: right;
}