.about-container {    
    display: flex;    
    padding: 5px;
    justify-content:space-evenly;
    margin-bottom: 20px;
    margin-right: 10%;
}
.profile-pic {
    width: 20%;
}

.profile-pic img {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-radius: 50%;
}

.about-title {
    margin: auto;
    line-height: 75%;
    text-align: center;
    font-size: 50px;
    color: white;
    width: fit-content;    
}

.about-info {
    width: 50%;
}

.about-info p {
    padding: 20px;
    font-size: 30px;
    color: white;
    float: right;
}

.about-icons {
    font-size: 75px;
    text-align: center;    
}

.about-icons a {
    color: white;
    margin: 10px;
    text-align: center;
}

.tech-container {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.281);
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
    height: fit-content;
}

.tech-title {
    margin: 0px;
    font-size: 35px;
    color: white;
    /* text-decoration: underline; */
}

.tech-list {
    line-height: 40px;    
    list-style: none;
    padding: 10px;
    margin: 5px 50px 0px 0px;    
    font-size: 30px;
    color: white;    
}