.footer-bottom {
  background-color: #24252a;  
  
  /* height: 50px; */
  text-align: center;
  position: static;
  width: 100%;
  bottom: 0px;
  /* left: 0px; */
  padding-top: 20px;
}

.footer-bottom p {
  margin: 10px;
  color: white;
  font-size: 20px;
}

.about-icons {
  font-size: 60px;
  text-align: center; 
}

.about-icons a {    
  margin: 10px;
  padding: 0;
  text-align: center;   
}

.email {
  font-size: 35px;
  text-decoration: none;
  line-height: 50%;
}
hr {
  width: 50%;
}